PORT=4000
MONGODB_URI=mongodb://localhost:27017/motoroom
MONGODB_DATA_PATH=/data/db
# DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@127.0.0.1:5432/motoroom
JWT_SECRET=CHANGE_ME_SUPER_SECRET
GOOGLE_AUTH_CLIENT_IDS=
APPLE_AUTH_AUDIENCES=com.erdiballikaya.motoroom
